<h3><%= @listing.title %></h3>
<%= simple_format @listing.description %>
<%= link_to 'Delete this listing', listing_path(@listing), method: 'DELETE' %>
<%= link_to 'Edit listing', edit_listing_path(@listing) %>
