 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
 	padding-top: 80px;
 }

 .navbar-brand {
 	height: 70px;
 }

 .navbar-nav .navbar-right ul{
	height: 85px;
	vertical-align: middle;
	padding-top: 15px;
 }

.navbar-default .navbar-nav > li > a {
	margin-top: 10px;
}

.nav > li > a {
	@media (max-width: $screen-md-max) { 
		padding: 10px 10px;
	}
}

.notice {
  height: 60px;
  border-radius: 6px;
  padding: 20px;
  white-space: nowrap;
}

.btn .btn-lg {
	margin-bottom: 30px;
}