<div class="col-sm-6 col-offset-1 center-block">
	<h2>About</h2>
	<p>No one can do everything, but everyone can do something. Beable is founded on the idea that people with disabilities are people first, and everyone has skills to share.</p>

	<p>Beable is a marketplace of people and their skills. User build profiles of their skills and needs</p>

	<p>Got a skill and some free time? Add your skills to your profile description and let users find you. Need a job done? <%= link_to 'Post a listing', new_listing_path %> - and connect with others who can help!</p>
</div>