<div class="col-sm-6 col-offset-1 center-block">
	<p>Beable is a prototype developed at Startup Weekend Wellington in November 2015 by a team of volunteers in 48 hours, so we apologise in advance for any bugs. If you find a bug, <%= mail_to "beablenz@gmail.com", "please report it here", subject: "Beable site bug report" %>.</p>

	<p>Do you have ideas to make this better? Want to help? Give us money?</p>

	<p>Get in touch at <%= mail_to "beablenz@gmail.com", "beablenz@gmail.com", subject: "Contact via Beable site" %></p>
</div>
