<p>People with disabilities getting and giving help</p>

<body>

  <div class="button-container">
    <%= link_to "I would like a helping hand", new_listing_path  %>
    </br>
    <%= link_to "I can give a hand", listings_path  %>
  </div>
</body>
